@font-face {
    font-family: bitcount;
    src: url(/Bitcount_Prop_Single/BitcountPropSingle-VariableFont_CRSV\,ELSH\,ELXP\,slnt\,wght.ttf);
}
#voltar{
    font-family: bitcount;
    border-bottom-left-radius: 30%;
    border-bottom-right-radius: 30%;
    color: rgb(255, 255, 255);
    background-color: black;
}
h1{
    text-shadow: 3px 3px 5px #000, -3px -3px #000;
}
#box_1{
    width: 100px;
    height: 100px;
    background-color: rgba(156, 156, 156, 0.63);
    box-shadow: 3px 3px 5px;
}