<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="layout.css">
    <link rel="shortcut icon" href="/Images/images.jfif" type="image/x-icon">
    <title>Layout</title>
</head>
<body>
    <header>
        <h2>header</h2>
    </header>
    <nav class="navbar">

    </nav>
    <main>
        <aside>
            <h2>This is an aside</h2>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Facilis incidunt libero sequi id nihil eius! Autem impedit hic facilis odit iure, est ipsa fuga officia placeat expedita eum maxime voluptates.</p>
        </aside>
        <section>
            <h2>This is an section</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae, earum soluta pariatur a nihil eius dolore rem laboriosam fugiat, dolorem facere sapiente, ipsam exercitationem animi vitae quibusdam minus odit architecto?</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam qui nulla amet velit. Magnam distinctio neque earum tempore illo similique alias eum esse laboriosam ipsam excepturi voluptates molestiae, dolore accusantium.</p>
        </section>
        <article>
            <h2>This is an article</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime, quae voluptatum minus magnam quos, ducimus nam perferendis ad dolorem praesentium, nesciunt quisquam tenetur ratione? Veniam ab eligendi suscipit aliquam mollitia.</p>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Id suscipit assumenda sunt et repudiandae autem. Doloremque neque nihil inventore assumenda natus voluptates mollitia, modi at quasi. Excepturi similique labore laboriosam.</p>
        </article>
    </main>
    <footer>
        <h2>footer!</h2>
    </footer>
</body>
</html>