@font-face {
    font-family: bitcount;
    src: url(/Bitcount_Prop_Single/BitcountPropSingle-VariableFont_CRSV\,ELSH\,ELXP\,slnt\,wght.ttf);
}
#voltar{
    font-family: bitcount;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    background-color: hsl(0, 0%, 0%);
    color: hsl(0, 0%, 100%);
    margin: auto;
    width: auto;
    height: auto;
}
body{
    margin: 5px;
}
.box{
    border: 5px solid;
    font-size: 5em;
    width: 250px;
    height: 250px;
    margin: auto;
    align-content: center;
    text-align: center;
}
#box_1{
    background-color: aqua;
    margin-top: 50px;
    margin-bottom: 50px;
}
#box_2{
    background-color:brown
}
.button{
    margin-left: auto;
}